
{% extends "index.html" %}



{% block content %}

<form action="" method="POST">
<div class=" addpadding">                   
    <select class="form-control  rounded-pill inputcontrol " type="text" name="test" id="test"  placeholder="Click here" aria-label="default input example" required>
     <option >Select Test</option>
     <option >Test1</option>

     <option >Test2</option>
     <option >Test3</option>
   </select>
   <button class="btn btn-primary pt-3 mt-3" type="submit">click</button>

 </div>
</form>
<div class="text-center heading_dash fadeIn first">
    <h1>{{ test1 }} Performance Report of {{ username }}</h1>
</div>

<div class="container ">
    <div class="row back "style="margin-left:10%; ">
      <div class="col  ">
       <div class="contain15 text-center ">


        <h2 class="top-grade-title  fadeIn first"><u>Your Top Performance</u> </h2>
        
        <div class="  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
            <li class="grade-explain">
                <span class="grade-score">A+</span>
                <span >Grade in Technical Skill</span>
            </li>   
            <li class="grade-explain">
                <span class="grade-score">A </span>
                <span>Grade in Creativity Skill</span>
            </li>
            <li class="grade-explain">
                <span class="grade-score">B </span>
                <span>Grade in Aptitude Skill</span>
            </li>
        </div>
      </div></div>     
            <!-- <div class="me"> </div> -->

      <div class="col  ">
        <div class=" contain21 text-center float-start" style="padding: 0 0 0 5%">

        <span class="top-grade-title" style="padding:10px 5px 0 15px">Overall Performance</span>
        <div class="circular-progress text-center">
           <span class="progress-value"> {{ particular_testsummary }} </span>
           
               </div>
            </div>
         </div>
      </div>
   
<!-- end of top page..  -->

<div class="newentry">
<div class="container  wow fadeIn group1" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col   wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
      <div class=" contain3">
      
        <span class="top-grade-title" style="padding:10px 5px 0 15px">Technical Skill</span>
        <div class="circular-progress">
           <span class="progress-value">{{ technical }}</span>
            
               </div>
              

               <div class="content">
                {% if technical == 1  %}
                <span class="message">Start reading tech news</span>
                {% elif technical == 2 %}
                <span class="message">take up relevant tech course(s)</span>
                {% elif technical == 3 %}
                <span class="message">complete certification courses </span>
                {% elif technical == 4 %}
                <span class="message">Develop website /app/ product etc</span>
                {% elif technical == 5 %}
                <span class="message">Take part in intercollege tech events</span>
                {% endif%}






              </div>
            </div>
            
          </div>
    

 
    <div class="col  bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
      <div class=" contain3">
        <span class="top-grade-title" style="padding:10px 5px 0 15px">Result Oriented</span>
        <div class="circular-progress">
           <span class="progress-value">{{ resultoriented }}</span>
            
               </div>
               <div class="content">
                {% if resultoriented == 1  %}
                <span class="message">Take up on training session on result orientation</span>
                {% elif resultoriented == 2 %}
                <span class="message">Set yourself mini goals to achieve like completing a novel, topic, etc</span>
                {% elif resultoriented == 3 %}
                <span class="message">Take up mini projects </span>
                {% elif resultoriented == 4 %}
                <span class="message">Take up a complete project with a real life problem statement</span>
                {% elif resultoriented == 5 %}
                <span class="message">Publish white paper / case study</span>
                {% endif%}

                </div>
              </div>
    </div>
    
   
</div>
</div>

<div class="container group2  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Creativity Skill</span>
            <div class="circular-progress">
               <span class="progress-value">{{ creativity }}</span>
                
                   </div>
                   <div class="content">
                    {% if creativity  == 1  %}
                    <span class="message">No inputs. Does things as per the given instruction</span>
                    {% elif creativity  == 2 %}
                    <span class="message"> Gives new inputs but not confident enough to take it up further. Lack of self confidence</span>
                    {% elif creativity  == 3 %}
                    <span class="message">Imaginative but resistant to change, needs to think more and be open to change and new ways </span>
                    {% elif creativity  == 4 %}
                    <span class="message"> Imaginative, Gives good ideas. Needs some push and mentoring</span>
                    {% elif creativity  == 5 %}
                    <span class="message">Highly imaginative, always thinks of doing things differently. Open to change and new styles.</span>
                    {% endif%}                  </div>
                </div>
                
    </div>
    <div class=" col col-lg-6 col-md-12  bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Interpersonal skill</span>
            <div class="circular-progress">
               <span class="progress-value">{{ interpersonal }}</span>
                
                   </div>
                   <div class="content">
                    {% if interpersonal == 1  %}
                    <span class="message">Take up on training session on result orientation</span>
                    {% elif interpersonal == 2 %}
                    <span class="message">Take part in extra curricular activites like sports, culturals etc</span>
                    {% elif interpersonal == 3 %}
                    <span class="message">become a mentors for juniors </span>
                    {% elif interpersonal == 4 %}
                    <span class="message">join clubs at college / outside</span>
                    {% elif interpersonal == 5 %}
                    <span class="message">Take part in intercollege competitions</span>
                    {% endif %}                  
                  </div>
                </div>
               
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Time management </span>
            <div class="circular-progress">
               <span class="progress-value">{{ timemanagement }}</span>
                
                   </div>
                   <div class="content">
                    {% if timemanagement == 1  %}
                    <span class="message">Complete online course on Time Management</span>
                    {% elif timemanagement == 2 %}
                    <span class="message"> Little time sense. Misses deadlines sometimes. Improper planning</span>
                    {% elif timemanagement == 3 %}
                    <span class="message">Last minute completion for most of tasks. No structured plan ( time, activities, output etc) </span>
                    {% elif timemanagement == 4 %}
                    <span class="message">Completes all tasks in time. Never late. Always meets deadlines. structured planning</span>
                    {% elif timemanagement == 5 %}
                    <span class="message">Completes tasks well in time and does additional tasks in the original stipulated time.</span>
                    {% endif%}                  </div>
                </div>
               
    </div>


    <div class=" col col-md-12 col-lg-6 bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Communication</span>
            <div class="circular-progress">
               <span class="progress-value">{{ communication }}</span>
                
                   </div>
                   <div class="content">
                    {% if communication == 1  %}
                    <span class="message">Find someone to speak only in English, Enroll for a communication class, read news paper</span>
                    {% elif communication == 2 %}
                    <span class="message">Watch english movies, think in English, Read paper and Novels</span>
                    {% elif communication == 3 %}
                    <span class="message">Read Novels & Newspaper, watch Tedx videos on communication, Take part in Toast masters </span>
                    {% elif communication == 4 %}
                    <span class="message">Read Novels & Newspaper, watch Tedx videos on communication</span>
                    {% elif communication == 5 %}
                    <span class="message">Train others. Read Business News </span>
                    {% endif%}                  </div>
                </div>
                
    </div>
</div>
</div>


<div class="container group3  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
     <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">
            
          <span class="top-grade-title" style="padding:10px 5px 0 15px">General Knowledge</span>
          <div class="circular-progress">
             <span class="progress-value">{{ generalknowledge }}</span>
              
                 </div>
                 <div class="content">
                  {% if generalknowledge == 1  %}
                  <span class="message">Start reading online news </span>
                  {% elif generalknowledge == 2 %}
                  <span class="message">Start reading news paper</span>
                  {% elif generalknowledge == 3 %}
                  <span class="message">Start discussign with friends / faculty about current affairs </span>
                  {% elif generalknowledge == 4 %}
                  <span class="message">Make presentation(once in sem) on business world</span>
                  {% elif generalknowledge == 5 %}
                  <span class="message">Organise Quizz at college / class</span>
                  {% endif%}                </div>
        </div>
       
    </div>
    <div class=" col col-lg-6 col-md-12  bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

          <span class="top-grade-title" style="padding:10px 5px 0 15px">Leadership</span>
          <div class="circular-progress">
             <span class="progress-value">{{ leardership }}</span>
              
                 </div>
                 <div class="content">
                  {% if leardership == 1  %}
                  <span class="message">Take up online courses on Leadership, watch movies on leadership like GANDHI, wars movies etc</span>
                  {% elif leardership == 2 %}
                  <span class="message">Take part in cultural activities and be part of any of the teams</span>
                  {% elif leardership == 3 %}
                  <span class="message">Form a group for a project work and take leadership.become assistant for any faculty </span>
                  {% elif leardership == 4 %}
                  <span class="message">Exhibit leadership at any of your college extra curricular events by taking important role, stand for class rep role</span>
                  {% elif leardership == 5 %}
                  <span class="message">Organise an event, stand for class rep role</span>
                  {% endif%}                </div>
                </div>
                
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class=" contain3">
          <span class="top-grade-title" style="padding:10px 5px 0 15px">Project Management</span>
          <div class="circular-progress">
             <span class="progress-value">{{ projectmm }}</span>
              
                 </div>
                 <div class="content">
                  {% if projectmm == 1  %}
                  <span class="message">Take up online courses on Leadership, watch movies on leadership like GANDHI, wars movies etc</span>
                  {% elif projectmm == 2 %}
                  <span class="message">Take part in cultural activities and be part of any of the teams</span>
                  {% elif projectmm == 3 %}
                  <span class="message">Form a group for a project work and take leadership.become assistant for any faculty </span>
                  {% elif projectmm == 4 %}
                  <span class="message">Exhibit leadership at any of your college extra curricular events by taking important role, stand for class rep role</span>
                  {% elif projectmm == 5 %}
                  <span class="message">Organise an event, stand for class rep role</span>
                  {% endif%}                </div>
                </div>
               
    </div> 

    <div class=" col col-md-6 col-lg-6 bari wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class=" contain3">
            
            <span class="top-grade-title" style="padding:10px 5px 0 15px">Presentation</span>
            <div class="circular-progress">
               <span class="progress-value">{{ presentation }}</span>
                
                   </div>
                   <div class="content">
                    {% if presentation  == 1  %}
                    <span class="message">Find someone to speak only in English, Enroll for a communication class, read news paper</span>
                    {% elif presentation  == 2 %}
                    <span class="message">Watch english movies, think in English, Read paper and Novels</span>
                    {% elif presentation  == 3 %}
                    <span class="message">Read business articles, watch Tedx videos on presentation skills, Read Newspaper </span>
                    {% elif presentation  == 4 %}
                    <span class="message">Read business articles, watch Tedx videos on presentation skills, Read Newspaper. Participate in Intercollege fests</span>
                    {% elif presentation  == 5 %}
                    <span class="message">Train others. Read a lot of business articles</span>
                    {% endif%}                  </div>
                </div>
                
    </div>
   






</div>
</div>


</div>
</div> 


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% if  show_graph2 %}

<div class="container">
  <h2 class="top-grade-title text-center fadeIn first pt-5"><b>Summary of your Skills</b> </h2>
  
      <div class="col text-center"> <div class="container addpadding pt-5 " style="width:100%;max-width:1100px; ">
        <canvas id="mycharttest2" class="aligngraph" ></canvas>
      
       </div></div>
      
      
  
    </div>
    <script>
      let test1_results = JSON.parse({{ p | tojson }});
      let test2_results = JSON.parse({{ q | tojson }});
      
  
      
      const ctxi = document.getElementById('mycharttest2');
    
    new Chart(ctxi, {
      type: 'bar',
      data: {
        labels: ['Communication', 'Presentation', 'Technical', 'Result oriented', 'Project Management', 'Interpersonal','Leadership','General knowledge','Time Management','Creativity'],
        datasets: [{
          label: 'Test1',
          data:  test1_results,
          borderWidth: 1
        },
        {
          label: 'Test2',
          data:  test2_results,
          borderWidth: 1
        }]
      },
      options: {
          scales: {
              x: {
                grid: {
                  display: true, // hide x-axis grid lines
                }
              },
              y: {
                min: 0, // Set the minimum value for the y-axis
            max: 5,
                grid: {
                  display: false, // hide y-axis grid lines
                },
                ticks: {
                  stepSize: 1,
                 // set the maximum value of the y-axis to 5
                  // set the step size between values
               }
              }
            }
      }
    });</script>
    {% endif %}

{% if  show_graph3 %}

<div class="container">
  <h2 class="top-grade-title text-center fadeIn first pt-5"><b>Summary of your Skills</b> </h2>
  
      <div class="col text-center"> <div class="container addpadding pt-5 " style="width:100%;max-width:1100px; ">
        <canvas id="mycharttest3" class="aligngraph"></canvas>
      
       </div></div>
       <h2 class="top-grade-title text-center fadeIn first"><b>Overall summary of Tests</b> </h2>
  
       <div class="col"> <div class="container addpadding pt-5"  style="width:100%;max-width:1100px; ">
        <canvas id="mylinetest2" class="aligngraph"></canvas>
  
      </div></div>
  
    </div>
   
 
<script>  let test1_results = JSON.parse({{ p | tojson }});
  let test2_results = JSON.parse({{ q | tojson }});
  let test3_results = JSON.parse({{ r | tojson }});
  let score1 = JSON.parse({{ score1 | tojson }});

  
  const ctxii = document.getElementById('mycharttest3');

new Chart(ctxii, {
type: 'bar',
data: {
  labels: ['Communication', 'Presentation', 'Technical', 'Result oriented', 'Project Management', 'Interpersonal','Leadership','General knowledge','Time Management','Creativity'],
  datasets: [{
    label: 'Test1',
    data:  test1_results,
    borderWidth: 1
  },
  {
    label: 'Test2',
    data:  test2_results,
    borderWidth: 1
  },
  {
    label: 'Test3',
    data:  test3_results,
    borderWidth: 1
  }]
},
options: {
    scales: {
        x: {
          grid: {
            display: true, // hide x-axis grid lines
          }
        },
        y: {
          grid: {
            display: false, // hide y-axis grid lines
          },
          ticks: {
            stepSize: 1,
           // set the maximum value of the y-axis to 5
            // set the step size between values
         }
        }
      }
}
});





const myline2 = document.getElementById('mylinetest2');

new Chart(myline2, {
type: 'line',
data: {
  labels: ['Test1', 'Test2', 'Test3'],
  datasets: [{
    label: 'Test Summary',
    data: score1,
    borderWidth: 1
  }]
},
options: {
    scales: {
        x: {
          grid: {
            display: false, // hide x-axis grid lines
          }
        },
        y: {
            min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis
          grid: {
            display: false, // hide y-axis grid lines
          },
          ticks: {
             
             
            stepSize: 1,
            // set the maximum value of the y-axis to 5
             // set the step size between values
          }
        }
      }
}
});


</script>

    
    <!-- <canvas id="mycharttest2" class="aligngraph"></canvas> -->

    {% endif %}


  
  
 

<div class="container-fluid footer">
    <div class="text-center footer-tag">
      @copyright PME 2023
    </div>
     </div>
         

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    


     {% endblock content %}
   