
{% extends "index.html" %}



{% block content %}

<form action="" method="POST">
<div class=" addpadding">                   
    <select class="form-control  rounded-pill inputcontrol " type="text" name="test" id="test"  placeholder="Click here" aria-label="default input example" required>
     <option >Select Test</option>
     <option >Test1</option>

     <option >Test2</option>
     <option >Test3</option>
   </select>
   <button class="btn btn-primary pt-3 mt-3" type="submit">click</button>

 </div>
</form>
<div class="text-center heading_dash fadeIn first">
    <h1>{{ test1 }} Performance Report of {{ username }}</h1>
</div>

<div class="container ">
    <div class="row back "style="margin-left:5%;">
      <div class="col col-md-6 ">
       <div class="contain1">


        <h2 class="top-grade-title text-center fadeIn first"><u>Your Top Performance</u> </h2>
        <ul class="gradealign  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
            <li class="grade-explain">
                <span class="grade-score">A+</span>
                <span >Grade in Technical Skill</span>
            </li>   
            <li class="grade-explain">
                <span class="grade-score">A </span>
                <span>Grade in Communication Skill</span>
            </li>
            <li class="grade-explain">
                <span class="grade-score">B </span>
                <span>Grade in Aptitude Skill</span>
            </li>
        </ul>
      </div></div>     
            <!-- <div class="me"> </div> -->

      <div class="col col-md-6 ">
        <div class=" contain2">

        <span class="top-grade-title" style="padding:10px 5px 0 15px">Overall Performance</span>
        <div class="circular-progress">
           <span class="progress-value"> {{ communication }} </span>
           
               </div>
            </div>
         </div>
      </div>
   
<!-- end of top page..  -->


<div class="container  wow fadeIn group1" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-6   wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="align_progress " style="padding:30px 20px 30px 20px;">
        <div class="linear-box">

        <div class="progress_bar">
            <div class="progress-bari" role="progressbar" aria-valuenow="0" aria-valuemin="5"
                aria-valuemax="100">
            </div>
            <span class="linear-value" >{{ leardership }}</span>/5<br>
            <span>leardership Skill</span>
        </div></div></div>
    </div>

 
    <div class="col col-md-6 bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="align_progress">
            <div class="linear-box">
                <div class="progress_bar">
                    <div class="progress-bari" role="progressbar" aria-valuenow="{{ generalknowledge }}" aria-valuemin="0" aria-valuemax="5">
                    </div>
                    <span class="linear-value">{{ generalknowledge }}</span>/5<br>
                    <span>generalknowledge</span>
                </div>
            </div>
        </div>
    </div>
   
   
</div>
</div>

<div class="container group2  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Creativity Skill</span>
            <div class="circular-progress">
               <span class="progress-value">{{ creativity }}</span>
                
                   </div>
                </div>
       
    </div>
    <div class=" col col-lg-6 col-md-12  bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Interpersonal skill</span>
            <div class="circular-progress">
               <span class="progress-value">{{ interpersonal }}</span>
                
                   </div>
                </div>
       
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Time management </span>
            <div class="circular-progress">
               <span class="progress-value">{{ timemanagement }}</span>
                
                   </div>
                </div>
       
    </div>


    <div class=" col col-md-12 col-lg-6 bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">General Knowledge</span>
            <div class="circular-progress">
               <span class="progress-value">{{ generalknowledge }}</span>
                
                   </div>
                </div>
       
    </div>
</div>
</div>

<div class="container group3  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
     <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain4">
            
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">{{ resultoriented }}</span>/5
                <p>Result Oriented</p>
            </div>

        </div>
       
    </div>
    <div class=" col col-lg-6 col-md-12  bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain4">

            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">{{ leardership }}</span>/5
                <p>Leadership Skill</p>
            </div>
                </div>
       
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class=" contain4">
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">{{ projectmm }}</span>/5
                <p>Project Mangement</p>
            </div>
                </div>
       
    </div> 

    <div class=" col col-md-6 col-lg-6 bari wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class=" contain4">
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">{{presentation}} </span>/5
                <p>Presentation skills</p>
            </div>
            
                </div>
       
    </div>
   






</div>
</div>



</div> 




<div class="container">
<h2 class="top-grade-title text-center fadeIn first pt-5"><b>Summary of your Skills</b> </h2>

    <div class="col text-center"> <div class="container addpadding pt-5 " style="width:100%;max-width:1100px; ">
      <canvas id="myCharti" class="aligngraph" ></canvas>
    
     </div></div>
     <h2 class="top-grade-title text-center fadeIn first"><b>Overall summary of Tests</b> </h2>

     <div class="col"> <div class="container addpadding pt-5"  style="width:100%;max-width:1100px; ">
      <canvas id="myline" class="aligngraph"></canvas>

    </div></div>

  </div>
  <!-- <canvas id="myChart" style="width:100%;max-width:600px"></canvas> -->

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 





<div class="container-fluid footer">
    <div class="text-center footer-tag">
      @copyright PME 2023
    </div>
     </div>
         

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
    


     {% endblock content %}
   