
{% extends "index.html" %}

{% block content %}
<div class="text-center heading_dash fadeIn first">
    <h1>Performance Report</h1>
</div>

<div class="container ">
    <div class="row back "style="margin-left:5%;">
      <div class="col col-md-6 ">
       <div class="contain1">


        <h2 class="top-grade-title text-center fadeIn first"><u>Your Top Performance</u> </h2>
        <ul class="gradealign  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
            <li class="grade-explain">
                <span class="grade-score">A+</span>
                <span >Grade in Technical Skill</span>
            </li>
            <li class="grade-explain">
                <span class="grade-score">A </span>
                <span>Grade in Communication Skill</span>
            </li>
            <li class="grade-explain">
                <span class="grade-score">B </span>
                <span>Grade in Aptitude Skill</span>
            </li>
        </ul>
      </div></div>     
            <!-- <div class="me"> </div> -->

      <div class="col col-md-6 ">
        <div class=" contain2">

        <span class="top-grade-title" style="padding:10px 5px 0 15px">Overall Performance</span>
        <div class="circular-progress">
           <span class="progress-value">89</span>
            
               </div>
            </div>
         </div>
      </div>
   
<!-- end of top page..  -->


<div class="container  wow fadeIn group1" data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-12 col-lg-6  wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="align_progress " style="padding:30px 20px 30px 20px;">
        <div class="linear-box">

        <div class="progress_bar">
            <div class="progress-bari" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
            <span>50%</span><br>
            <span>Communication Skill</span>
        </div></div></div>
    </div>
    <div class=" col col-lg-6 col-md-12  bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="align_progress">
        <div class="linear-box">
        <div class="progress_bar">
            <div class="progress-bari" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
            <span>50%</span><br>
            <span>Communication Skill</span>
        </div></div></div>
    </div>
    <div class=" col col-md-12 col-lg-6 bari  wow fadeInLeft  " data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class="align_progress">
        <div class="linear-box">

        <div class="progress_bar">
            <div class="progress-bari" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
            <span>70%</span><br>
            <span>Communication Skill</span>
        </div>
    </div></div>
    </div>
    <div class=" col col-md- col-lg-6 bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="align_progress">
        <div class="linear-box">

        <div class="progress_bar">
            <div class="progress-bari" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                aria-valuemax="100">
            </div>
            <span>70%</span><br>
            <span>Communication Skill</span>
        </div>
    </div></div>
    </div>
</div>
</div>

<div class="container group2  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Creativity Skill</span>
            <div class="circular-progress">
               <span class="progress-value">49</span>
                
                   </div>
                </div>
       
    </div>
    <div class=" col col-lg-6 col-md-12  bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Interpersonal skill</span>
            <div class="circular-progress">
               <span class="progress-value">9</span>
                
                   </div>
                </div>
       
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">Aptidue Skill</span>
            <div class="circular-progress">
               <span class="progress-value">20</span>
                
                   </div>
                </div>
       
    </div>


    <div class=" col col-md-12 col-lg-6 bari  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain3">

            <span class="top-grade-title" style="padding:10px 5px 0 15px">General Knowledge</span>
            <div class="circular-progress">
               <span class="progress-value">50</span>
                
                   </div>
                </div>
       
    </div>
</div>
</div>

<div class="container group3  wow fadeIn"  data-wow-duration="0.5s" data-wow-delay="0.5s">
<div class="row">
    <div class="col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain4">
            
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">50</span>%
                <p>Result Oriented</p>
            </div>

        </div>
       
    </div>
    <div class=" col col-lg-6 col-md-12  bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain4">

            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">90</span>%
                <p>Social Skill</p>
            </div>
                </div>
       
    </div>
    <div class=" col col-md-12 col-lg-6 bari wow fadeInLeft  bari"  data-wow-duration="0.5s" data-wow-delay="0.5s">
        <div class=" contain4">
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">78</span>%
                <p>Project Mangement</p>
            </div>
                </div>
       
    </div>


    <div class=" col col-md-6 col-lg-6 bari wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class=" contain4">
            <div class="program ">
                <div class="barOver">
                    <div class="halfbar"></div>
                </div>
                <span class="percentage">29.25</span>%
                <p>Technical skills</p>
            </div>
            
                </div>
       
    </div>
</div>
</div>














</div> 






















  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     {% endblock content %}
