
{% extends "index.html" %}

{% block content %}
      <!-- login content with the image picture..  -->
      <div class="text-center addpadding smallcontext ">
        <h1>Extracted features</h1>
        </div>
        <div class="col ">
            <div  class="container-fluid  sf "style ="width: 400px; height:450px;" style="width:350px; ">
          

 
<div class="orderedlist">
  <ol>
    <li class="esf">React</li>
    <li class="esf">Flask</li>
    <li class="esf">Microsoft Intern</li>

    <li class="esf">Git-github</li>
    <li class="esf">Codechef</li>
    <li class="esf">Big data</li>
    <li class="esf">Cloud computing</li>
  </ol>
  
  
  </div>

</div>

            
  

              

      
        
        
          </div>
          <div class="container-fluid esfimaging" >
            <img src="{{ url_for('static',filename='images/extracted.png')}}" class="img-fluid  w-20  "style ="" alt="...">
           </div>
          
        </div>
        
      
      <div class="container-fluid " style ="padding-left: 0px;">
        <img src="{{ url_for('static',filename='images/lower.png')}}" class="img-fluid float-start w-50" alt="...">
       </div>


       {% endblock content %}
