<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/util.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/animation.css')}}" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap" rel="stylesheet">


    

  </head>
<body>
    <!-- navbar content begins..  -->
    <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
   
        
      <nav class="navbar bg-body-tertiary rounded-pill  wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        
        <div class="container-fluid">
          <a class="navbar-brand navtext" href="#"><p class="navtext">
            <img src="{{ url_for('static',filename='images/dot.png')}}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
           
           PEP</p>
          </a>
          <ul class="nav justify-content-end">
          

           
            
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.index')}}">Dashboard</a>
            </li>
             -->
           
            {% if  'studentemail' in session %}

             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.profile')}}">Profile</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.userdata')}}">Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('auth.logout') }}">logout</a>
            </li>
            {% elif 'teacheremail' in session  %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.search')}}">Search</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.marksenter')}}">Enter marks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('auth.logout') }}">logout</a>
            </li>
            {% else %}
            
            <li class="nav-item">
              <a class="nav-link " href="{{ url_for('auth.login')}}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('auth.sign_up')}}">Signup</a>
            </li>
            
            {% endif %} 
          </ul>
        </div>
        
          <!-- <div class="  justify-content-end  " id="navbarNavDropdown">
            <ul class="navbar-nav   ">
              <li class="nav-item " style=" font-size: 18px;">
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="/signup">sign up</a>
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="/index">Dashboard</a>

              </li>
              <li class="nav-item " style=" font-size: 18px;">
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="/index">Dashboard</a>
              </li>
              <li class="nav-item " style=" font-size: 18px;">
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="/profile">profile</a>
              </li>
              
              <li class="nav-item " style=" font-size: 18px;">
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="/signup">sign up</a>
              </li>
             
             
            </ul>
            </div> -->
            <!-- <div class="collapse navbar-collapse justify-content-end" id="navbar">
              <div class="navbar-nav">
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
                <a class="nav-item nav-link" id="login" href="/login">Login</a>
                <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
              </div>
            </div>
            <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        -->

        </div>
      </nav>

      <!-- navbar content ends..  -->
      {% with messages = get_flashed_messages(with_categories=true) %}
       {% if messages %}
        {% for category, message in messages %} 
        {% if category == 'error' %}
        <div class="alert alert-danger alter-dismissable fade show" >
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick=delete_flash(this)>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% else %}
        <div class="alert alert-success alter-dismissable fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick=delete_flash(this)>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endif %} 
        {% endfor %} 
        {% endif %} 
        {% endwith %}


      

      {% block content %}

      <h1>this is home page guys ,,,hey {{name}} bud</h1>
      {% endblock content %}

    

      
      <script src="{{url_for('static', filename='javascript/utiil.js')}}"></script>
      <script src="{{url_for('static', filename='javascript/animation.js')}}"></script>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script src="{{url_for('static', filename='javascript/app.js')}}"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

     
    </body>
</html>