<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css')}}" />
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <!-- navbar content begins..  -->
    <!-- <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top"> -->
   
        

      <nav class="navbar bg-body-tertiary rounded-pill">
        <div class="container-fluid">
          <a class="navbar-brand navtext" href="#"><p class="navtext">
            <img src="{{ url_for('static',filename='images/dot.png')}}" alt="Logo" width="50" height="40" class="d-inline-block align-text-top">
           
           PEP</p>
          </a>
          <div class="  justify-content-end  " id="navbarNavDropdown">
            <ul class="navbar-nav   ">
              <li class="nav-item" style=" font-size: 18px;">
                <a class="nav-link  active" style=" padding-right: 20px;" aria-current="page" href="#">sign up</a>
              </li>
             
             
            </ul>

        </div>

        </div>
      </nav>

      <!-- navbar content ends..  -->



      <!-- login content with the image picture..  -->
      <div class="container login_container ">
        <div class="row">
          <div class="col-md-6">
            <div class="imger">
            <img src="{{ url_for('static',filename='images/female.png')}}" class="rounded float-start img" alt="...">
           </div>
        </div>
        
          <div class="col-md-6">
            <div class="container loging" style ="width: 350px;;">
                <p class ="addpadding headstyling">Log in </p>

                  <form action="">
                    <div class=" addpadding">                   
                       <input class="form-control  rounded-pill addpadding inputcontrol" type="text" placeholder="Username" aria-label="default input example">
                    </div>
                    <div class=" addpadding">                   
                       <input class="form-control  rounded-pill inputcontrol " type="text" placeholder="password" aria-label="default input example">
                    </div>
                    <p class=" smallcontext">forgot password</p>
                    <button class="button  addpadding button1" type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
              </button>
                    
                   
                  </form>
                
                
              </div>
          </div>
         
        </div>
      </div>

     <div class="container-fluid imaging" style ="padding-left: 0px;">
      <img src="{{ url_for('static',filename='images/lower.png')}}" class="img-fluid float-start w-50" alt="...">
     </div>


      







      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
     

    </body>
</html>