{% extends "index.html" %} {% block content %}

<button class="btn btn-primary mt-5 download-report" href="#" id="download" role="button">
  Download Report
</button>
<div id="invoice" class="">
  <div class="main-container report-container">
    <div class="page1">
      <div class="smartchaps-logo">
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div class="main-title text-center">
        <p>Best Performance Analyser</p>
        <p>and</p>
        <p> Enhancement System</p>
      </div>

      <div class="quote-title text-center">
        <p><i>"Based on Principles of Continuous Improvement"</i></p>
      </div>

      <div class="student-details">
        <div class="name">
          <p>Name: </p>
          <span class="label-answers mx-2"> {{user.personal.username}}</span>
        </div>
        <div class="college">
          <p>College: </p>
          <span class="label-answers mx-2"> {{user.personal.college}}</span>
        </div>
        <div class="course">
          <p>Course: </p>
          <span class="label-answers mx-2"> {{user.personal.course}}</span>
        </div>
        <div class="batch">
          <p>Batch: </p>
          <span class="label-answers mx-2"> 2020 - 2024</span>
        </div>
      </div>
      </div>

      <!-- ***************************THIS IS FOR CERTIFICATE USE IT IN FUTURE**********************************

      <div class="page2">
        <div class="smartchaps-logo">
          <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
        </div>
        <div class="certificate-sentence">
          <div class="text-container">
            This is to Certify that Mr / Ms. <span class="student-name">{{user.personal.username}}</span> has undergone training on the
            below
            mentioned Industry skills from <span class="starting-date">20th July 2023</span> to <span class="end-date">20th
              August
              2023</span>.
          </div>
        </div>
      </div>

      ***************************END FOR CERTIFICATE USE IT IN FUTURE********************************** -->


      <div class="page3">
        <div class="smartchaps-logo-for-page3">
          <p class="skill-title text-center"><b>Communication Skill</b></p>
          <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
        </div>
        <div>
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <div class="" style="display: flex; justify-content: center; align-items: center">
            <canvas id="myChart1cs"
              style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
          </div>
          <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="communication-section">
            <ol class="communication-scoring-inputs">
              <li>
                Poor English, lack of proper body language, unable to frame sentences
                properly.
              </li>
              <li>
                Average English-speaking skills, tries but struggles to frame
                sentences, improper body language.
              </li>
              <li>
                Moderate English-speaking skills, frames sentences but jumbled words,
                use of body language while communicating.
              </li>
              <li>Good in English and articulation. Good body language.</li>
              <li>
                Excellent English and Articulation. Very good body language and highly
                confident.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let communication = JSON.parse({{ communication | tojson }});


                        const ctx1cs = document.getElementById("myChart1cs");

                        new Chart(ctx1cs, {
                        type: "line",
                        data: {
                          labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                          datasets: [
                          {
                            label: "Assesments",
                            data: communication,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                            </script>
                          </div>
    </div>
    <div class="page4">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Presentation Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1ps"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="presentation-section">
            <ol class="presentation-scoring-inputs">
              <li>
                No confidence at all, very nervous, shivers, does not know how to
                prepare a PPT, does not know to articulate.
              </li>
              <li>
                Low in confidence, nervous, average PPT quality, stage fear, lack of
                body language, does not know articulate effectively.
              </li>
              <li>
                Moderate quality PPT, slightly confident, some amount of stage fear,
                average usage of body language/gestures, does not engage audience.
              </li>
              <li>
                Good PPT, confident, little stage fear, good body language & gestures.
                Average in engaging the audience, tries to answer questions.
              </li>
              <li>
                Excellent PPT preparation, no stage fear, excellent body language,
                engages the audience, answers questions confidently.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

                        let presentation = JSON.parse({{ presentation | tojson }});
                        const ctx1ps = document.getElementById("myChart1ps");
                        new Chart(ctx1ps, {
                        type: "line",
                        data: {
                          labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                          datasets: [
                          {
                            label: "Assessments",
                            data: presentation,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                            </script>
                          </div>
    </div>
    <div class="page5">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Technical Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1ts"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="technical-section">
            <ol class="technical-scoring-inputs">
              <li>
                Low technical knowledge, no aptitude & inclination towards tech and
                related fields, no tech skills.
              </li>
              <li>
                Interested in technology but low aptitude towards tech. no knowledge
                about technology and related developments.
              </li>
              <li>
                Moderate in tech skills, knowledge and aptitute towards technology.
                Avg inclination towards technology.
              </li>
              <li>
                Good in tech knowledge, skills, interest. Good inclination towards
                technology.
              </li>
              <li>
                Very good. Has knowledge about latest technology, skills & inclination
                towards tech building things on own.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let technical = JSON.parse({{ technical | tojson }});

              
          const ctx1ts = document.getElementById("myChart1ts");

                        new Chart(ctx1ts, {
                        type: "line",
                        data: {
                          labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                          datasets: [
                          {
                            label: "Assessments",
                            data: technical,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                            </script>
                          </div>
    </div>


    <div class="page6">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Result Oriented</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1rs"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="result-oriented-section">
            <ol class="result-oriented-scoring-inputs">
              <li>
                Has issues understanding end results, has no idea about output of any task.
              </li>
              <li>
                Understands goals & end result of a task but slow in starting work. Lags in timelines. Requires regular monitoring.
              </li>
              <li>
                Understands projects, timelines etc has done projects but has not completed any. Requires monitoring  & followups.
              </li>
              <li>
                Strives towards achieving goals, completes on time. Requires mentoring.
              </li>
              <li>
                Takes up tasks/projects on his/her and completes with / without dependencies on others.
              </li>
              </ol>
              </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let resultoriented = JSON.parse({{ resultoriented | tojson }});

                        const ctx1rs = document.getElementById("myChart1rs");

                        new Chart(ctx1rs, {
                        type: "line",
                        data: {
                          labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                          datasets: [
                          {
                            label: "Assessments",
                            data: resultoriented,
                            borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                            </script>
                          </div>
    </div>
    <div class="page7">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Project Management</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1pm"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="project-mngmt-section">
            <ol class="project-mngmt-scoring-inputs">
              <li>
                Lack of planning and less involvement in any academic tasks / project,
                No enthusiasm, Issues with working with others.
              </li>
              <li>
                Less Interest in any task / project, Lack of structured planning,
                Needs extensive monitoring.
              </li>
              <li>
                Interested in tasks, Needs guidance, Lacks clarity of how to go about
                tasks, Timelines issue, Needs a mentor and tracking.
              </li>
              <li>
                Structured plans to carry out tasks / project, Maintains timelines,
                Good team player, Risk averse, Needs to a good mentor.
              </li>
              <li>
                Leader in the project, Organised events, people person, Good with
                people & money, Takes calculated risks.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let projectmmt = JSON.parse({{ projectmmt | tojson }});

                        const ctx1pm = document.getElementById("myChart1pm");

                        new Chart(ctx1pm, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: projectmmt,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                      </script>
      </div>
    </div>
    <div class="page8">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>InterPersonal Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1is"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="interpersonnal-section">
            <ol class="interpersonnal-scoring-inputs">
              <li>
                Highly Introvert, Keeps only to himself/herself, Prefers the same,
                Does not mingle easily, Has understanding issues/no empathy.
              </li>
              <li>
                Waits for others to talk to him. Mingles with only few people.less on understanding others. Lacks empathy most of the times.
              </li>
              <li>
                Normal. Confident but hesitates to take the initiative to strike a conversation. Moderate understanding capability. Needs a push.
              </li>
              <li>
                Takes part extra activities. Good understanding of others. Has people around all the time. Needs a mentor.
              </li>
              <li>
                Takes part in lot of extra activities.Organises events. Leadership material. Highly emphathatic and Understanding of others.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let interpersonal = JSON.parse({{ interpersonal | tojson }});

                        const ctx1is = document.getElementById("myChart1is");

                        new Chart(ctx1is, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: interpersonal,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
                      </script>
      </div>
    </div>
    <div class="page9">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Leadership Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1ls"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="leadership-section">
            <ol class="leadership-scoring-inputs">
              <li>
                Waits for tasks to be given. No creativity. Just follows orders. Doer.
              </li>
              <li>Follows instruction. Gives some ideas. Doer. Does not question.</li>
              <li>
                Gives new ideas but does not take it up further. Follows instruction.
              </li>
              <li>
                Good leader, organises events. Gives ideas, follows up and implements
                the ideas. Can influence others.
              </li>
              <li>
                Strong leadership skills. very creative. Bonds people and good at
                delegation.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let leadership = JSON.parse({{ leadership | tojson }});

                        const ctx1ls = document.getElementById("myChart1ls");

                        new Chart(ctx1ls, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: leadership,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
    </div>
    <div class="page10">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>General Knowledge on Business World</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1gks"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="general-knowledge-section">
            <ol class="general-knowledge-scoring-inputs">
              <li>
                Has no idea about business world / technology related current affairs.
              </li>
              <li>
                Very less understanding of the Business developments around the world. Needs a push.
              </li>
              <li>
                Moderate knowledge of business affairs.Needs guidance.
              </li>
              <li>
                Good understanding / knowledge of the business world / tech developments.
              </li>
              <li>
                Very good. Has good knowledge about latest technology & business developments, skills and good inclination towards building things on own.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let gk = JSON.parse({{ gk | tojson }});

                        const ctx1gks = document.getElementById("myChart1gks");

                        new Chart(ctx1gks, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: gk,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
      </div>
    <div class="page11">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Creativity Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1cre"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="creative-section">
            <ol class="creative-scoring-inputs">
              <li>
                No inputs. Does things as per the given instruction.
              </li>
              <li>
                Gives new inputs but not confident enough to take it up further. Lack of self confidence.
              </li>
              <li>
                Imaginative but resistant to change, needs to think more and be open to change and new ways.
              </li>
              <li>
                Imaginative, Gives good ideas. Needs some push and mentoring.
              </li>
              <li>
                Highly imaginative, always thinks of doing things differently. Open to change and new styles. .
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let cre = JSON.parse({{ creativity | tojson }});

                        const ctx1cre = document.getElementById("myChart1cre");

                        new Chart(ctx1cre, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: cre,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
      </div>
    <div class="page12">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Entreprenuerial Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1ent"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="entreprenuerial-section">
            <ol class="entreprenuerial-scoring-inputs">
              <li>
                Does not look for problems, no innovative ideas, follows status quo.
              </li>
              <li>
                Shows Interest in business / startups but not innovative. Cant think of new ideas/solutions.
              </li>
              <li>
                Follows startup news, has business ideas but business plan & lacking innovation solutions.
              </li>
              <li>
                Innovative, good people manager, has good understanding about startups, has a fair idea of product / service & market fit, has a business plan.
              </li>
              <li>
                Very good. Has good knowledge about latest technology developments,
                skills and good inclination towards building things on own.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let ent1 = JSON.parse({{ ent1 | tojson }});

                        const ctx1ent = document.getElementById("myChart1ent");

                        new Chart(ctx1ent, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: ent1,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
      </div>

    <div class="page13">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Aptitude Skill</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1as"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="aptitude-section">
            <ol class="aptitude-scoring-inputs">
              <li>
                Waits for tasks to be given. No creativity. Just follows orders. Doer.
              </li>
              <li>Follows instruction. Gives some ideas. Doer. Does not question.</li>
              <li>
                Gives new ideas but does not take it up further. Follows instruction.
              </li>
              <li>
                Good leader, organises events. Gives ideas, follows up and implements
                the ideas. Can influence others.
              </li>
              <li>
                Strong leadership skills. very creative. Bonds people and good at
                delegation.
              </li>
            </ol>
            </div>
        </div>
        <script>
          //this is  for the data aptitude  
          Chart.defaults.font.size = 16;

          let apt = JSON.parse({{ apt | tojson }});

                        const ctx1as = document.getElementById("myChart1as");

                        new Chart(ctx1as, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: apt,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
                              max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
      </div>

    <div class="page14">
      <div class="smartchaps-logo-for-page3">
        <p class="skill-title text-center"><b>Time Management</b></p>
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div>
        <div class="" style="display: flex; justify-content: center; align-items: center">
          <canvas id="myChart1tms"
            style="border:2px solid #423FB9; border-radius:7px; width: 100%; max-width: 600px; height: 200px"></canvas>
        </div>
        <div class="pl-3">
          <p class="score-input-title text-center pt-3">Scoring Inputs</p>
          <div class="time-mngmt-section">
            <ol class="time-mngmt-scoring-inputs">
              <li>No time sense.No planning . Lethargic. Always missing deadlines.</li>
              <li>
                Little time sense. Misses deadlines sometimes. Improper planning.
              </li>
              <li>
                Last minute completion for most of tasks. No structured plan (time,
                activities, output etc).
              </li>
              <li>
                Completes all tasks in time. Never late. Always meets deadlines.
                structured planning.
              </li>
              <li>
                Completes tasks well in time and does additional tasks in the original
                stipulated time.
              </li>
            </ol>
            </div>
        </div>
        <script>
          Chart.defaults.font.size = 16;

          let timemmt = JSON.parse({{ timemmt | tojson }});

                        const ctx1tms = document.getElementById("myChart1tms");

                        new Chart(ctx1tms, {
                          type: "line",
                          data: {
                            labels: ["Assessment1","Assessment2","Assessment3","Assessment4","Assessment5","Assessment6","Assessment7","Assessment8"],
                            datasets: [
                              {
                              label: "Assessments",
                              data: timemmt,
                              borderWidth: 1,
                            },
                          ],
                        },
                        options: {
                          scales: {
                            x: {
                              grid: {
                                display: true,
                                 // hide x-axis grid lines
                              }
                            },
                            y: {
                              min: 0, // Set the minimum value for the y-axis
            max: 5, // Set the maximum value for the y-axis

                              grid: {
                                display: true, // hide y-axis grid lines
                              },
                              ticks: {
                                stepSize: 1,
                               // set the maximum value of the y-axis to 5
                                // set the step size between values
                             }
                            }
                          }
                        },
                      });
</script>
      </div>
      </div>

    <div class="page14">
      <div class="smartchaps-logo">
        <img src="{{ url_for('static',filename='images/logo.jpeg')}}" alt="Smartchaps">
      </div>
      <div class="inclination-content">
        <p class="final-report-sentence text-center pt-5">
          <b>Student profile indicating more suitable role(s), based on the scores in
            the final assessment</b>
        </p>
        <div class="inclination-skills-list">
          <div class="strong-inclination">
            <p><b>Strong Inclination</b></p>
            <ol class="key-points">
              <li>{{strong}}</li>
              <li>{{leader}}</li>
            </ol>
          </div>
          <div class="incline-towards">
            <p><b>Inclined Towards</b></p>
            <ol class="key-points">
              <li>{{customer}}</li>
              <li>{{project}}</li>
             
            </ol>
          </div>
          </div>
          </div>
          </div>
          </div>
          </div>
          
   
<script>
    window.onload = function () {
      document.getElementById("download").addEventListener("click", () => {
        const invoice = this.document.getElementById("invoice");
        console.log(invoice);
        console.log(window);
        var opt = {
          margin: 0,
          filename: "myreport.pdf",
          image: { type: "jpeg", quality: 0.98 },
          html2canvas: { scale: 2 },
          jsPDF: { unit: "in", format: "letter", orientation: "portrait" },
        };
        html2pdf().from(invoice).set(opt).save();
      });
        };
      </script>

{% endblock content %}