
{% extends "index.html" %}

{% block content %}
      <!-- login content with the image picture..  -->
      <div class="text-center addpadding smallcontext ">
        <h1>Search Skills</h1>
        </div>
      <div class="container search_container" style =" padding-left:0px; margin-left:0px; ">
        <div class="row">
          <div class="col-md-6">
            <div class="imger">
            <img src="{{ url_for('static',filename='images/feature.png')}}" class="rounded float-start img" style ="padding-left: 0px;"alt="...">
           </div>
        </div>
        
        <div class="col-md-6 ">
            <div  class="container-fluid  sf "style ="width: 400px; height:430px;" style="width:350px; ">
          
<div class="formsinput ">
  <form action="">
  <input class="  inputsf" type="text" name="search" placeholder="ADD here..  "  >
  <span class="input-group-append">
    <button class="btn rounded-pill border-0 ml-n5" type="button">
      <i class="bi bi-arrow-down-circle-fill"></i>
      
    </button>
</span>
 
</form>
<div class="orderedlist">
  <ol>
    <li>React</li>
    <li>Flask</li>
    <li>Microsoft Intern</li>

    <li>Git-github</li>
    <li>Codechef</li>
  </ol>
  
  <div class="text-center ">
    <button type="button" class="btn btn-primary btn-lg rounded-pill">
upload</button>
  </div>
</div>
</div>

            
  

              

              </div>
          </div>
          
        </div>
        
      </div>
      <div class="container-fluid " style ="padding-left: 0px;">
        <img src="{{ url_for('static',filename='images/lower.png')}}" class="img-fluid float-start w-50" alt="...">
       </div>


       {% endblock content %}
