
{% extends "index.html" %}

{% block content %}
      <!-- login content with the image picture..  -->
    <!-- login content with the image picture..  -->
<div class="container search_container" style="padding-left: 0px; margin-left: 0px;">
  <div class="row">
    <div class="col-md-6">
      <div class="imger">
        <img src="{{ url_for('static', filename='images/search.png') }}" class="rounded float-start img" style="padding-left: 0px;" alt="...">
      </div>
    </div>

    <div class="col-md-6 mt-5">
      <div class="container search" style="width: 350px;">
        <form action="" method="POST">
          <!-- <div class="addpadding">
            <input class="form-control rounded-pill addpadding inputcontrol" type="text" name="college" placeholder="College Name" aria-label="default input example">
          </div>
          <div class="addpadding">
            <input class="form-control rounded-pill inputcontrol" type="text" name="username" placeholder="Student Name" aria-label="default input example">
          </div> -->
          <div class="addpadding">
            <input class="form-control rounded-pill inputcontrol" type="text" name="usn" placeholder="Enrollment Number" aria-label="default input example">
          </div>
          <!-- <div class="addpadding">
            <input class="form-control rounded-pill inputcontrol" type="text" name="academic_year" placeholder="Academic Year" aria-label="default input example">
          </div> -->
          <div class="text-center addpadding">
            <button type="submit" class="btn btn-primary btn-lg rounded-pill">
              Search
            </button>
          </div>
        </form>
        <div class="container-fluid imaging">
          <img src="{{ url_for('static', filename='images/corner.png') }}" class="img-fluid w-50" style="" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

       {% endblock content %}
