
{% extends "index.html" %}

{% block content %}
      <!-- login content with the image picture..  -->
      <div class="container login_container ">
        <div class="row">
          
          <div class="col-md-6">
            <div class="container loging" style ="width: 400px; height:435px;">
                <p class ="addpadding headstyling" style =" padding-top: 5%;">Sign up </p>
<!-- class (style ) height has been adjusted in inline fashion  has been changed to style the container...... -->
                  <form action="" method="POST">
                    <div class=" addpadding">                   
                       <input class="form-control  rounded-pill  inputcontrol" type="email" name="email" id="email" placeholder="email" aria-label="default input example">
                    </div>
                    <div class=" addpadding">                   
                       <input class="form-control  rounded-pill inputcontrol " type="text" name="username" id="username"  placeholder="username" aria-label="default input example">
                    </div>
                    <div class=" addpadding">                   
                        <input class="form-control  rounded-pill inputcontrol " type="password" name="password" id="password1" placeholder="password" aria-label="default input example">
                     </div>
                     <div class=" addpadding">                   
                        <input class="form-control  rounded-pill inputcontrol " type="password" name="password2" id="password2" placeholder="Confirmpassword" aria-label="default input example">
                     </div>
                    
                    <button class="button  addpadding button1" type="submit" >
                      
              </button>
                    
                   
                  </form>
                
                
              </div>
          </div>
          <div class="col-md-6">
            <div class="imger">
            <img src="{{ url_for('static',filename='images/female.png')}}" class="rounded float-start img" alt="...">
           </div>
        </div>
        

         
        </div>
      </div>

      <div class="container-fluid " style ="padding-left: 0px;">
        <img src="{{ url_for('static',filename='images/lower.png')}}" class="img-fluid float-start w-50" alt="...">
       </div>

     {% endblock content %}
    