
{% extends "index.html" %}

{% block content %}
     
<div class="container" style="padding:5%  0 0 18%">
    <main>
      <div class="  text-center" style="padding:0  20% 5% 0">
        <h2>Enter your Details</h2>
      </div>
  
    
        <div class="col-md-7 col-lg-8">
          
   <form class="needs-validation" method="POST"  enctype="multipart/form-data" novalidate>
            <div class="row g-3">
              
  
              <div class="col-12">
                <label for="username" class="form-label">Name</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Your name is required.
                  </div>
                </div>
              </div>
  
              <div class="col-12">
                <label for="email" class="form-label">Email </label>
                <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
                
              </div>
              <div class="col-12">
                <label for="address" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone number" required>
                <div class="invalid-feedback">
                  Please enter your contact number
                </div>
              </div>
              <div class="col-12">
                <label for="college" class="form-label">College</label>
                <input type="text" class="form-control" id="college" name="college" placeholder="college" required>
                <div class="invalid-feedback">
                  Please enter your college .
                </div>
              </div>
              <div class="col-12">
                <label for="college" class="form-label">City</label>
                <input type="text" class="form-control" id="college" name="city" placeholder="college" required>
                <div class="invalid-feedback">
                  Please enter your city .
                </div>
              </div>
              <div class="col-12">
                <label for="num_inputs" class="form-label">Number of Certifications</label>
                <select class="form-select shadow-none" id="num_inputs" name="numberofcertifications" aria-label="Default select example">
                  <option selected>Please select from the dropdown</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>       
                    </div>
              </div>

              <div class="col-12">
                <label for="skills" class="form-label pt-3">Number of Skills</label>
                <div class="d-flex form-skills"><select class="form-select shadow-none  mb-3" name="technicalskills"aria-label="Large select example">
                  <option selected>Technical Skills</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                
                <select class="form-select shadow-none  mb-3  " name="softskills" aria-label="Small select example">
                  <option selected>SoftSkills</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
                
                
              </div>
              <div class="col-12">
                <label for="skills" class="form-label pt-2 mb-3 pl-5" aria-label="Small select example">Class 10: Board And Marks Scored</label>
                <div class="d-flex form-skills"><select class="form-select shadow-none mb-3" name="tenthboard" aria-label="Large select example">
                  <option selected>Select Board</option>
                  <option value="state">State</option>
                  <option value="cbse">CBSE</option>
                  <option value="icse">ICSE</option>
                </select>
                <div class="pl-5">
                  <!-- <label for="address" class="form-label">Phone</label> -->
                  <input type="number" class="form-control" id="text" name="tenthmarks" placeholder="Enter your marks" required>
                  <div class="invalid-feedback">
                    Please enter your valid marks
                  </div>
                </div>
                <!-- <input class="form-control " type="text" placeholder="Marks scored" required> -->

              </div>
                
                
              </div>
             
              <div class="col-12">
                <label for="skills" class="form-label mb-3 pt-2 pl-5" aria-label="Small select example">Class 12: Board And Marks Scored</label>
                <div class="d-flex form-skills"><select class="form-select shadow-none  mb-3" name="twelvethboard"aria-label="Large select example">
                  <option selected>Select Board</option>
                  <option value="state">State</option>
                  <option value="cbse">CBSE</option>
                  <option value="icse">ICSE</option>
                </select>

                <div class="pl-5">
                  <!-- <label for="address" class="form-label">Phone</label> -->
                  <input type="number" class="form-control " id="text" name="twelvethmarks" placeholder="Enter your marks" required>
                  <div class="invalid-feedback">
                    Please enter your valid marks
                  </div>
                </div>
              </div>
                
                
              </div>
             
              <div class="col-12 pt-2">
                <label for="address" class="form-label">UG Average % from the semesters</label>
                <input type="number" class="form-control" id="college" name="ugaverage" placeholder="marks" required>
                <div class="invalid-feedback">
                  Please enter your average marks .
                </div>
              </div>
              
  
              <div class="col-12 pt-2">
                <label for="address2" class="form-label">linkdin <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="linkdin" name="linkdin" placeholder="Linkdin url">
              </div>
              <div class="col-12 pt-2">
                <label for="address2" class="form-label">Github <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="github" name="github" placeholder="Github url">
              </div>
              
  
   
  
             <hr>
           
            <div class="col-12">
              <label for="" class="form-label">Please Select the skills below  </label>
              <input type="text" class="form-control mt-2" id="certification" name="skill1" placeholder="Skill-1" required>
              <input type="text" class="form-control mt-2" id="certification" name="skill2" placeholder="Skill-2" required>
              <input type="text" class="form-control mt-2" id="certification" name="skill3" placeholder="Skill-3" >
              <input type="text" class="form-control mt-2" id="certification" name="skill4" placeholder="Skill-4" >
              <input type="text" class="form-control mt-2" id="certification" name="skill5" placeholder="Skill-5" >
              <div class="invalid-feedback">
                Please select the valid skills below
              </div>
              
            </div>
            <div class="col-12 pt-3" id="inputFields">
              <label for="" class="form-label">Please Mention the certification below </label>   
              <input type="text" class="form-control mt-2" id="certification" name="certification1" placeholder="Certificate-1" required>
              <input type="text" class="form-control mt-2" id="certification" name="certification2" placeholder="Certificate-2" required>
              <input type="text" class="form-control mt-2" id="certification" name="certification3" placeholder="Certificate-3" >
              <input type="text" class="form-control mt-2" id="certification" name="certification4" placeholder="Certificate-4" >
              <input type="text" class="form-control mt-2" id="certification" name="certification5" placeholder="Certificate-5" >
              <div class="invalid-feedback">
                Please mention the certificates.
              </div>
              
              <!-- <input type="text" class="form-control mt-2" id="certification" name="certification" placeholder="certification-2" required>
              <input type="text" class="form-control mt-2" id="certification" name="certification" placeholder="certification-3" required> -->
              
              
            </div>
            <div class="col-12 pt-3">
              <label for="" class="form-label">Why I Should be hired (in 100 words): </label>
              <div class="form-floating">
  <textarea class="form-control" name="hiredcontent" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <!-- <label for="floatingTextarea2">....</label> -->
</div>
              
            </div>
            <div class="col-12 pt-3">
              <label for="" class="form-label">Internship Experience:</label>
              <div class="form-floating">
  <textarea class="form-control" name="internshipexperience" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
  <!-- <label for="floatingTextarea2">....</label> -->
</div>
              
            </div>
          </div>

  
           
            <!-- <div class="row gy-3"> -->
              <!-- <div class="col-md-6">
                <label for="cc-number" class="form-label">Projects</label>
                <input type="text" class="form-control mb-2" id="cc-name"  name="p-1" placeholder="Projects" required >
                <input type="text" class="form-control  mb-2" id="cc-name" name="p-2" placeholder="(optional)" >
                <input type="text" class="form-control  mb-2" id="cc-name" name="p-3" placeholder="(optional)" >
                                <div class="invalid-feedback">
                 One project is required
                </div>
              </div> -->
            <!-- </div> -->
  
            <hr class="my-4">
  
            <button class="w-100 btn btn-primary btn-lg" type="submit">Continue to Login</button>
          </form>
        </div>
      
    </main>
</div>  
   

  <div class="container-fluid footer" style="margin:5% 0 0 0">
    <div class="text-center footer-tag">
      @copyright PME 2023
    </div>
     </div>
     <script>
      $(document).ready(function() {
          $("#updateBtn").click(function() {
              var numInputs = parseInt($("#num_inputs").val());
              var inputFieldsHTML = "";
              for (var i = 1; i <= numInputs; i++) {
                  inputFieldsHTML += `
                 
                  <input type="text" class="form-control mt-2" id="certification${i}" name="certification${i}" placeholder="certification-1" required>
                  <div class="invalid-feedback">
                    Please enter a valid email 3ddress for shipping updates.
                  </div><br>
                  `;
              }
              $("#inputFields").html(inputFieldsHTML);
          });
      });
  </script>
  
       {% endblock content %}
