body{
    width:100%;
    height:100%;
}
/* navbar styling... */
.navbar{
 
background-color:#809CFF;
width:95%;
margin: 40px 0 0 40px;

 
 }
 .nav-logo {
    background-color: #423FB9;
    border: none;
    
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
  }
  .navtext{
    font-size: 30px;
    margin: 0px 5px 0 15px;
    padding: 5px;;
    align-items: center;
  }
  
/* .................  */



  /* login_container */
.login_container{
    margin: 30px 50px 15px  50px;
    padding:50px 50px 0  50px;
    width:50%;
    

    
}
.search_container{
  margin: 20px 50px 5px  0px;
  padding:30px 50px 0  0px;
  width:30%;
  

  
}

.img{
  box-shadow: 2px 3px 5px #29292a;
  
}
.imaging{
  position: absolute;
bottom: 20px;;
  z-index: -1;
  top:25%;

}
.esfimaging{
  position: absolute;
  left:53%;
  bottom: 20px;;
    z-index: -1;
    top:40%;
}
.logings{
  /* width has been set inline */
    border-width: 0.5px;
    border-style: solid;
    border-radius: 15%;
    background-color: #7F84FD;
    box-shadow: 2px 2px 2px #6563d8;
    

}
.formsinput{
  padding-top: 30px;
}

.inputsf {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  border-radius: 12px;;
  padding: 12px 20px 12px 5px;
  box-shadow: 0 4px 8px 0 rgba(125, 153, 242, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.orderedlist{
  color:blueviolet;
  font-size: 25px;
  color:#1A28A6;
  padding: 20 20px;
}
li{
padding:10px;
}
.sf{
  color:blueviolet;
  border: 1px solid #493FB9;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(125, 153, 242, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.esf{
  padding:10px;;

}
.loging{
  /* width has been set inline */
    border-width: 0.5px;
    border-style: solid;
    height:400px;
    border-radius: 15%;
    background-color: #7F84FD;
    box-shadow: 2px 2px 2px #6563d8;
    

}

.button1 {
    background-color: #423FB9;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 100%;
    margin-left: 40%;
    

  }
  .addpadding{
    padding: 15px;
  }
 .search{
margin-top: 10%;
 }

/* this is for search feature page..  */

  .inputcontrol{
    box-shadow: 2px 2px 2px #3330d1;

  }
  .headstyling{
    font-size: 35px;
    font-weight: bolder;
    color:#423FB9;
    text-align: center;
    padding-top: 20%;
    text-shadow: 2px 2px 2px #423FB9;

  }
  .smallcontext{
    text-align: center;
    font-size: 10px;
    color:#1A28A6;
  }




/* profilepage....  */
.profilebody{
  border-width: 0.5px;
    border-style: solid;
    height: 300px;
    margin:5% 0 0 0 ;
  
}
.spacing{
  border-width: 0.5px;
    border-style: solid;
    height: 150px;
}
.newprof{
  /* background-color:rgb(168, 161, 161); */
}
.cloud{
  position: absolute;
 
}
.descriptionlist{
display: flex;
list-style: none;
margin: 0 0 0 10%;
padding: 15px 0 0 0 ;
}
.main-list{
  font-size: 30px;
  font-weight: bolder;
  color:#6563d8;
  padding: 0 0px 0 15%;
  
}
.sub-list{
  color:#7F84FD;
  font-size: 20px;;
  font-weight: bold;
  margin-left: 10px;
}
.profilesub1{
  background-color: #4051E8;
  
  
}
.profile-images{
  position: absolute;
  width:200px;
  height:300px;
  border-width: 0.5px;
  border-style: solid;
  border-radius: 15px;
  margin: 0px 0 0 10px;
  background-color: #5478F6;
  z-index: -2;

}
.profile-pic{
  width:180px;
  height:280px;
  margin:5px 5px 0 20px;
  border-radius: 25px;
  position: absolute;
  padding: 10px;

}
.profilelist{
  margin: 20px 0 0 23%;
}
.profilename{
  font-size: 30px;
  font-weight: bolder;
}
.profilecollege{
  font-size: 15px;
  font-weight: bolder;
  padding:0 15px;
}
.profileUSN{
  font-size: 15px;
  font-weight: bolder;
  /* margin-left: 10px; */
  padding:0 35px;
}
.profilelist1 {
  color:#ffffff;
}
/* updated version ....  */
.profilelist2 {
  color:#030303;
}
/* updated version ....  */






/* internship layer...  */
.internship-head{
  margin:10% 0 0 0;
  /* text-shadow: 2px 2px 2px #423FB9; */
}
.card-img-topi{
  width:50px;
  border-radius: 12px;;
}
.cardspace{
  margin:5%;
  width: 300px;
  height: 300px;
  border-width: 0.5px;
  border-style: solid;
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px #403dc1;
  border-radius: 25px;
  border: 10px;

color: #202ec8;
}
/* piegraph page...  */

/* intrest-description ...  */

.intrest-description{
  height:500px;
  margin:150px 0 0 0;
  padding: 0 0 100px 0;
}
.list-interest{
margin: 50px 0 0 0px;
}
.movelist{
  margin: 0 0 0 200px;;
}
.intereststyle{
  color:#1A28A6;
  font-size: 25px;

}  
.link-a-tag{
  text-decoration: none;
}
.footer{
  height:150px;
  color:#ffffff;
  background-color: #886BD8;
  font-size: 15px;

}
.footer-tag{
  padding:75px 0 0 0;
}
.card-text{
  font-size: 18px;
}


/* extraa.... */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Bakbak One', cursive;
}

.heading{
  text-align: center;
  color: #3f51b5;
}

.wrapper {
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  padding: 70px 0;
  max-width: 400px;
  margin: 0 auto;
  /* margin: 20px; */
}

/* .main{
  display: flex;
  justify-content: center;
  margin: 0 auto;
} */


/* .row1{
  margin: 100px 0px;
  border: 1px solid black;
}

.row2{
  border: 1px solid black;
} */

.menu,
.content {
  width: 100%;
}

.student-deatils{
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  color: #3f51b5;
}

.hr-line{
  margin: 20px 20px 0px 20px;
  border-bottom: 1px solid #3f51b5;
}

select {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;
  border: 2px solid #3f51b5;
  box-shadow: 0 15px 15px #efefef;
  appearance: none;
  background: #e8eaf6 url(./arrow.png) no-repeat;
  background-position: 95% 55%;
  background-size: 22px;
}

.content {
  margin: 30px 0;
}

.content .data {
  padding: 25px;
  background-color: #fff;
  border: 2px solid #3f51b5;
  border-radius: 8px;
}

.content p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid gainsboro;
}

.content p:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content p b {
  font-weight: 700;
}

.content p span {
  float: right;
  font-weight: normal;
}

.image {
  text-align: center;
}

.image img {
  border-radius: 8px;
}

.data {
  display: none;
}

label{
  font-size: 22px;
  font-weight: bold;
}

/* report page styling...  */
.download-report {
  cursor: pointer;
}

.report-container {
  font-family: 'Arvo', serif;
}

.smartchaps-logo {
  text-align: center;
  margin-top: 15px;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6,
.page7,
.page8,
.page9,
.page10,
.page11,
.page12,
.page13 {
  border: 10px solid black;
  border-radius: 7px;
  margin: 20px;

}

.student-details {
  margin-top: 25%;
  /* text-align: center; */
  color: darkgreen;
  font-size: 23px;
  margin-bottom: 50px;
}

.name,
.college,
.course,
.batch {
  display: flex;
  justify-content: left;
}

.report-label {
 display: flex;
  align-items: center;
}
.reportspan{
  margin: 0 0 0 50px;
}

.main-title {
  font-size: 50px;
  color: #423FB9;
}

.quote-title {
  font-size: 25px;
  color: #423FB9;
}

.certificate-sentence {
  text-align: center;
}

.text-container {
  padding: 3%;
  margin-top: 31%;
  margin-bottom: 40%;
  font-size: 40px;
}

.student-name,
.starting-date,
.end-date {
  color: #423FB9;
}

.smartchaps-logo-for-page3 {
  display: flex;
  justify-content: space-between;
}

.skill-title {
  margin-top: 3%;
  margin-left: 2%;
  font-size: 33px;
  color: #423FB9;

}

.communication-section,
.result-oriented-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.presentation-section {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.project-mngmt-section {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.leadership-section {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}

.aptitude-section {
  display: flex;
  justify-content: center;
  margin-bottom: 61px;
}

.general-knowledge-section {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.time-mngmt-section {
  display: flex;
  justify-content: center;
  margin-bottom: 73px;
}

.technical-section,
.result-oriented-section,
.interpersonnal-section {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.score-input-title {
  font-size: 23px;
  color: #423FB9;
}

.communication-scoring-inputs,
.presentation-scoring-inputs,
.technical-scoring-inputs,
.result-oriented-scoring-inputs,
.project-mngmt-scoring-inputs,
.interpersonnal-scoring-inputs,
.leadership-scoring-inputs,
.general-knowledge-scoring-inputs,
.aptitude-scoring-inputs,
.time-mngmt-scoring-inputs {
  border: 1px solid black;
  border-radius: 7px;
  background-color: #423FB9;
  color: white;
  display: inline-block;
  box-shadow: 10px 10px 10px 10px #888888;
  margin-left: 2%;
  margin-right: 2%;
}

.communication-scoring-inputs li,
.leadership-scoring-inputs li {
  margin-top: 7px;
  font-size: 15px;

}

.presentation-scoring-inputs li {
  margin-top: 2px;
  font-size: 13px;
}

.technical-scoring-inputs li,
.general-knowledge-scoring-inputs li,
.aptitude-scoring-inputs li,
.time-mngmt-scoring-inputs li {
  margin-top: 2px;
  font-size: 15px;
}

.result-oriented-scoring-inputs li,
.project-mngmt-scoring-inputs li,
.interpersonnal-scoring-inputs li {
  margin-top: 2px;
  font-size: 14px;
}

.final-report-sentence {
  padding: 5%;
  font-size: 20px;
}

.inclination-skills-list {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}

.key-points li {
  color: #423FB9;
  font-size: 20px;
}

/* End report styling */


/* userdata styling...  */















/* .buttons{
  display: flex;
  justify-content: space-evenly;
}

.btn{
  color: #3f51b5;
  background-color: #e8eaf6;
  border: 1px solid #3f51b5;
  border-radius: 7px;
  padding: 13px;
  width: 100px;
  font-size: 18px;
  text-align: center;
}

.btn:hover{
  cursor: pointer;
  color: #e8eaf6;
  background-color: #3f51b5;
  border: none;
}

.reset{
  color: #3f51b5;
  background-color: #e8eaf6;
  border: 1px solid #3f51b5;
  border-radius: 7px;
  padding: 13px;
  width: 100px;
  font-size: 18px;
  text-align: center;
}

.reset:hover{
  cursor: pointer;
  color: #e8eaf6;
  background-color: #3f51b5;
  border: none;
} */
