/* main csss ...  */
.back{

    box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72);
    width:80%;
    padding:50px;
    border-radius: 15px;


}
.newentry{
  margin:0 0 0 8%;
}
.heading_dash{

    font-size: 35px;
    font-weight: bolder;
    color:#423FB9;
    text-align: center;
    padding: 5% 0 5% 0;
    text-shadow: 2px 2px 2px #423FB9;
}
.contain1{
    width: 500px;
    padding: 25px 0 0 0px;
    border-radius: 10px;

    /* box-shadow: 10px 10px 5px 12px #D1E5F4; */
}
.gradealign ul {
    list-style-position:inside;
   
  }
  .grade-explain{
    font-size: 20px;

  }
  .gradealign{
    padding: 15px 0 5px 25%;
  } 
.top-heading{
    font-size: 35px;
    text-align: center;
    color: #423FB9;
}
.top-grade-title{
    font-size: 25px;
    color: #423FB9;
    padding: 5px 0 0 5px;
    /* font-weight: 500; */
    font-style: bolder;

}
.grade-score{
    font-weight: 700; 
    font-style: bolder;
    color: #423FB9;
        font-weight: 500;
}
 /* full progress...  */
 .circular-progress{
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: conic-gradient(#423FB9 3.6deg, #ededed 0deg);
  background-color: #423FB9;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 0 20px 50px; */
}

.circular-progress::before{
  content: "";
  position: absolute;
  height: 155px;
  width: 155px;
  border-radius: 50%;
  background-color: #fff;
}

.progress-value{
  position: relative;
  font-size: 35px;
  font-weight: 400;
  color: #423FB9;
}
.contain3 {
position: relative;
border-radius: 15px;
margin: 0 0 0 15%;
width: 300px;
padding: 10px 0 10px 45px;
box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72);
transition: transform 0.5s;
}

.contain3:hover {
transform: perspective(800px) rotateY(180deg);
}

.content {
position: absolute;
top: 0;
left: 0;
border-radius: 15px;
margin:0 0 0 0;

width: 100%;
height: 100%;
background-color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
color: rgb(7, 7, 7);
font-size: 20px;
font-weight: bold;
opacity: 0;
transform: perspective(800px) rotateY(180deg);
transition: opacity 0.5s;
}

.contain3:hover .content {
opacity: 1;
}

.contain2{
    margin: 0 0 0 15%;
    padding: 25px 0 0 50px;

    width:300px;
    /* box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72); */

}
.message{
  padding:35px;
}
/* containers ...  */


.progress_bar {
    height: 20px;
    width: 300px;
    background-color: #ededed;
    border-radius: 15px;
    text-align: center;
}

.progress-bari {
    height: 100%;
    width: 25%;
    background-color: #6D6BC6;
    border-radius: 15px;
}


.linear-box {
    border: none;
    width: 250px;
    /* height:50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}
.group1{
    margin: 8% 0 0 5%
    ;
    
}
.align_progress{
    padding:30px 20px 20px 20px;
    margin:0px 0px 0px 20%;
    width:300px;
    border-radius: 10px;

    /* height: 80px; */
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72);

}
.bari{
    padding:0 0 40px 0;
}




/* this is container 3 code ... */
/* .contain3{
    border-radius: 15px;
     margin: 0 0 0 15%; 
    /* padding: 25px 0 0 50px;  */

    /* width:300px;

    padding:10px 0 10px  45px;
    box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72);

}  */



/* container4 group3...  */
.contain4{
    border-radius: 15px;
     margin: 0 0 0 15%; 
   
    width:300px;
    position: relative;

    padding:10px 0 45px  45px;
    box-shadow: 0 4px 8px 0 rgba(38, 193, 221, 0.568), 0 6px 20px 0 rgba(143, 234, 244, 0.72);

}
.program {
    position: relative;
    margin: 20px 10px 0 0;
    float: center;
    right:3%;
    text-align: center;
}
.barOver{
    position: relative;
 
    width: 240px;
    height: 100px;
  
    overflow: hidden;
}
.halfbar{
    position: relative;
    
   
    width: 240px;
    height: 240px;

    border-radius: 50%;
    box-sizing: border-box;
    border: 30px solid #ededed;
    border-bottom-color: #6D6BC6;
    border-right-color: #6D6BC6;
}

/* the following code is basically for flipping the container...  */



/* .contain4 {
    width: 310px;
    height: 270px;
    perspective: 800px;
  }
  
  .contain4:hover > .cardii {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
  .cardiii {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
 
  .backii {
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  




 */
























/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}



